header {

    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 30px;
    
}

img {
    border-color: firebrick;
  
   
}
h1 {

    font-weight: bolder;
}